body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    overflow: hidden;
    overflow: hidden;
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#mario-chat {
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

#chat-window {
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p {
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #575ed8;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button {
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
}

button:active {
    background: green;
}

@media only screen and (max-width: 768px) {
    #mario-chat {
        max-width: 100vw;
        height: 100vh;
        margin: 0;
    }

    #chat-window {
        height: 70vh;
        overflow: auto;
        background: #f9f9f9;
    }

    input {
        position: fixed;
        bottom: 1%;
    }

    #handle {
        position: fixed;
        bottom: 8%;
    }

    /* For mobile phones: */
    button {
        position: fixed;
        bottom: 8%;
        right: 2%;
        width: 12vw;
        border-radius: 50px;
        font-size: small;
    }
}